input::-webkit-input-placeholder {color:#c0392b;}
input::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
input:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#c0392b;}

textarea::-webkit-input-placeholder {color:#c0392b;}
textarea::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color:#c0392b;}

.modal {
    height: 500px;
}
